body{
    background:#f2f1ef
} 
#key-block{
    position: fixed;
    height: 100%;
    background-color: white;
    width:300px;
}

#key-block img{
    width: 250px;    
}

#key-block a{
    background: white;
    display: block;
    transition: 0.6s;
    color: #1F4788;
    text-decoration: none;
    padding: 10px;
}

#key-block a:hover{
    background: #BFBFBF;
    color: red;
}
#key-block a.logo:hover{
    background: #fff;
    color: white;
    opacity: 0.6;}


.content_area{
    width: 1200px;
}
.main_area{
    width: 900px;
    margin-left: 300px;
}
.container{
    width:  900px;
    z-index: -3;
    margin-top: -311px;
    float: left;}
.ky img{
    width: 500px;
}
.ky{
    padding: 5px;
    width: 505px;
    background-color: #1F4788;
    margin:30px;
}
.syoukai{
    color: white;
    width: 60%;
    margin-left: 50px;
}
.bottum{
    position: center;
    margin-top: 50px;
    margin-left: 60px;
    border: 1px solid;
    border-radius: 8px;
    background-color:#1F4788;
    color: white;
    font-size: 30px;
    text-decoration:none;
    padding: 5px;
}
.bottum:hover {
    background-color: orangered;
    color: aqua;
    border-radius: 8px;
    transition: 0.2s;
}

